<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    
    <div class="container">
        <h1>Signup</h1>
        {% if mensaje %}
        <div class="alert alert-danger" role="alert">
            {{ mensaje }}
        </div>
        {% endif %}
        
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button>
                Signup
            </button>
        </form>
        <form action="/">
            <button type="submit">
                Cancel
            </button>
        </form>
    </div>
</body>
</html>