<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Welcome</title>
</head>
<body>
    <div class="container-fluid">
        <ul class="nav bg-primary">
            <li class="nav-item"><a class="nav-link link-light" href="/signup/">Sign up</a></li>
            <li class="nav-item"><a class="nav-link link-light" href="/signin/">Sign in</a></li>
        </ul>
    </div>
    <div class="container">
        <h1>Bienvenido</h1>
    </div>
    
</body>
</html>