{% extends 'base.html' %}

{% block contenido %}
<h1>About</h1>

<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis fugit tenetur doloribus est laboriosam consectetur et ipsam non, quo sed minus sunt quae veritatis, ab ex? Accusamus rem qui consequatur autem minima ullam excepturi eos minus dicta soluta rerum quasi ex reiciendis ea quisquam recusandae quas quos nostrum natus exercitationem, doloribus quam. Reiciendis, consectetur. Tenetur ab non blanditiis aliquid accusamus aperiam architecto maiores aut hic facilis repellat dolorum quam voluptas dolores, nam porro saepe pariatur quasi ducimus vel vitae qui atque magnam. Incidunt nobis ut eaque commodi distinctio assumenda vero, quas culpa enim ullam sunt maiores nulla dolorem at eligendi.
</p>

{% endblock %}